<!doctype html>
<html>
	{{ template "partials/header_partial" . }}
		<div id="primaryContent" class="pageContent">
			{{ template "pagecontent" . }}
		</div>
	{{ template "partials/footer_partial" . }}
</html>
